In [5]:
2+3
print(2+3)
print(3/2)
print(3//2)

5
1.5
1

In [6]:
True

True

In [9]:
type(True)
type(1)
print(1)

1

In [13]:
x = 4

if x == 5 : 
    print("x is 5")
elif x > 5:
    print('x is > 5')
else: 
    print("x is not 5")

x is not 5

In [14]:
print('x is 5') if x == 5 else print('x is not 5')

x is not 5

In [16]:
x = 5
y = 5
print(id(x))
id(y)

4345650344

4345650344

In [17]:
x = 5
y = x
print(id(x), id(y))

4345650344 4345650344

In [18]:
range(10)

range(0, 10)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
range(10,100)

range(10, 100)

In [22]:
list(range(10, 100, 5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [24]:
[1, 2, 3]
type([1,3,2])

list

In [4]:
x = [1, 2, 3]
y = [1, 2, 3]
print(id(x), id(y))
print(x == y)

x1 = [ 1, 2, 3]
y1 = x1 
print(id(x1), id(y1))

4593895232 4593050048
True
4593193088 4593193088

In [5]:
for element in list([1, 2, 3]):
    print(element)

1
2
3

In [7]:
for element in range(10, 100, 5):
    print(element)
else:
    print('Exiting from Loop')

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
Exiting from Loop

In [18]:
# pyramid
for i in list(range(5)):
    for j in list(range(i,5)):
        print('*', end='')
    print()

*****
****
***
**
*

In [22]:
# pyramid
for i in list(range(5)):
    for j in list(range(0,i+1)):
        print('*', end='')
    print()

*
**
***
****
*****

In [34]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [39]:
# pyramid
for i in list(range(5,0, -1)):
    for j in list(range(0,i, 1)):
        print('*', end='')
    print()

*****
****
***
**
*

In [17]:
# pyramid
for i in list(range(5)):
    for j in list(range(5)):
        if i == j : print('*', end='')
        else: print(' ', end='')
    print()

*
 *
  *
   *
    *

In [20]:
def sum(a,b):
    sum = a + b
    return sum


sum(3, 4)

7

In [46]:
def sum(abc = []):
    sum = 0
    for i in range(len(abc)):
        sum = sum + abc[i]
    return sum

sum([1, 2, 3, 4])

10

In [40]:
import numpy as np

np.sum([1,2,3,4])

10