In [1]:
a = 5
print(type(a))

<class 'int'>

In [3]:
a = ["hello", "welcome"]
print(type(a))

<class 'list'>

In [4]:
a = range(5)
print(type(a))

<class 'range'>

In [7]:
a = 3 + 5j
print(type(a))

<class 'complex'>

In [10]:
name = {"Ram", "Sita", "Hari"}
print(type(name))

<class 'set'>

In [12]:
name = ["rajendra", "karki"]
print(type(name))

<class 'list'>

In [13]:
name = { 1:"Ram", 2: "Sita"}
print(type(name))

<class 'dict'>

In [14]:
a = int(5.8)
print(type(a))
print(a)

<class 'int'>
5

In [1]:
a = int('5.8')
print(a)
print(type(a))

ValueError: invalid literal for int() with base 10: '5.8'

In [2]:
a = 34.7e10
print(type(a))
print(a)

<class 'float'>
347000000000.0

In [22]:
name = "Ram"
multilineString = """
ArithmeticError
Is not acceptable.
"""
print(multilineString)

ArithmeticError
Is not acceptable.

In [28]:
for x in name:
    print(x)

R
a
m

In [29]:
for x in range(len(name)):
    # print(x)
    print(name[x])

R
a
m

In [ ]:
for x in name:
    print(x)

In [32]:
# in is membership
"ra" in "Ram"
# "Ra" in "Ram"

False

In [44]:
str = "Master's in Data Science"
print(str[1:4])
print(str[:4])
print(str[-4:-1])
print(str[-4:])
print(str[2:-2])

print(str[-2:2])

print(str.upper())
print(str.lower())

ast
Mast
enc
ence
ster's in Data Scien

MASTER'S IN DATA SCIENCE
master's in data science

In [45]:
str = "Master's in Data Sciece"
print(str.replace("Data", "Information"))
print(str)

Master's in Information Sciece
Master's in Data Sciece

In [50]:
print(str.split("'"))

['Master', 's in Data Sciece']

In [51]:
list = str.split(" ")
for x in list:
    print(x)

Master's
in
Data
Sciece

In [68]:
quantity = 3
itemno = 567
price = 49

myorder = "I want {} pieces of item number {} for {:.2f} dollars"
print(myorder.format(quantity, itemno, price))


myorder = """I want {0} pieces of item number {1}
and price for {1} is {2:.2f} dollars"""
print(myorder.format(quantity, itemno, price))


myorder = "I want {quantity} pieces of item number {itemno} for {price:>8.2f} dollars"
print(myorder.format(quantity = 3, itemno = 567, price= 49))


myorder = f"I want {quantity} pieces of item number {itemno} for {price:>8.2f} dollars"
print(myorder)

I want 3 pieces of item number 567 for 49.00 dollars
I want 3 pieces of item number 567
and price for 567 is 49.00 dollars
I want 3 pieces of item number 567 for    49.00 dollars
I want 3 pieces of item number 567 for    49.00 dollars

In [69]:
quantity = 3
itemno = 567
price = 49

myorder = f"I want {quantity} pieces of item number {itemno} for {price:>8.2f} dollars"
print(myorder)

I want 3 pieces of item number 567 for    49.00 dollars

In [71]:
print('\a')



In [11]:
quantity = 3
itemno = 567
price = 112356789.235
myorder = "I want {} pieces of item number {} for {:<8.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 112356789.23 dollars.

In [12]:
fruits = ["apple", "banana", "cherry"]
drinks = ["coke", "pepsi"]
fruits.append("orange")
fruits.extend(drinks)
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'coke', 'pepsi']

In [13]:
fruits = ("apple", "banana", "cherry")
(green, *yellow) = fruits
print(green)
print(yellow)

apple
['banana', 'cherry']

In [14]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry