In [4]:
import pandas as pd;
import numpy as np;

data = {'First_Score':[40, 90, np.nan, 95],
        'Second_Score': [30, 45, 56, np.nan],
        'Third_Score':[np.nan, 40, 80, 98]}
df = pd.DataFrame(data)
df.fillna(0)
df[['Second_Score', 'Third_Score']]
df[0:2]

df.loc[0:2, 'First_Score':'Second_Score']
df.iloc[0:2, 0:1]

row = [0, 2]
col = ['Second_Score', 'Third_Score']
print(df.loc[row, col])

   Second_Score  Third_Score
0          30.0          NaN
2          56.0         80.0

Merging of two dataframes

In [8]:
df1 = pd.DataFrame({"Common": ["A", "B", "C", "D", "E"],
                    "Name": ["John", "Alice", "Emma", "Watson", "Harry"],
                    "Age": [18, 19, 20, 21, 15]})
df2 = pd.DataFrame({"Common": ["A", "B", "C", "D", "E"],
                    "Sport": ["Cricket", "Football", "Table Tennis", "Badminton", "Chess"],
                    "Movie": ["Jumanji", "Black Widow", "End Game", "Mr. Robot", "Matrix"]})
df3 = pd.merge(df1, df2, how = "left", on = "Common")
print(df3)

df1 = pd.DataFrame({"Name": ["John", "Alice", "Emma", "Watson", "Harry"],
                    "Age": [18, 19, 20, 21, 15]},
                    index = ["A", "B", "C", "D", "X"])
df2 = pd.DataFrame({"Sport": ["Cricket", "Football", "Table Tennis", "Badminton", "Chess"],
                    "Movie": ["Jumanji", "Black Widow", "End Game", "Mr. Robot", "Matrix"]},
                    index = ["A", "B", "C", "D", "E"])
df4 = df1.join(df2)
print(df4)

  Common    Name  Age         Sport        Movie
0      A    John   18       Cricket      Jumanji
1      B   Alice   19      Football  Black Widow
2      C    Emma   20  Table Tennis     End Game
3      D  Watson   21     Badminton    Mr. Robot
4      E   Harry   15         Chess       Matrix
     Name  Age         Sport        Movie
A    John   18       Cricket      Jumanji
B   Alice   19      Football  Black Widow
C    Emma   20  Table Tennis     End Game
D  Watson   21     Badminton    Mr. Robot
X   Harry   15           NaN          NaN